body { 
    background-color: lightslategray;
}

h1{
    color: whitesmoke;
    text-align: center;
}

.main{
    font-family: verdana;
    text-align: justify;
    font-size: large;
}

.sub{
    font-family: times;
    text-align: right;
    font-size: larger;
}